.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-box {
  width: 0.9599609375em;
}

.icon-box_filled {
  width: 1.0419921875em;
}

.icon-camera_filled {
  width: 1.0419921875em;
}

.icon-config {
  width: 0.9599609375em;
}

.icon-deliver {
  width: 0.9599609375em;
}

.icon-distributor-02 {
  width: 0.9599609375em;
}

.icon-overview {
  width: 0.9599609375em;
}

.icon-product {
  width: 0.9599609375em;
}

.icon-report {
  width: 0.9599609375em;
}

.icon-shipment {
  width: 0.9599609375em;
}
